body {
    background-color: white;
}

h1 {
    font-size: 1.3em;
}

.nav {
    list-style: none;

}

.nav li {
    width: 100%;
    display: block;
    border-top: 1px solid white;
    padding-bottom: 2em;
    padding-top: 0.3em;
    text-align: center;
}

.nav a {
    text-decoration: none !important;
}

.gallery-item {
    display: flex;
    /* gap: 1em; */
    flex-direction: column;
    margin-bottom: 1.5em;
}

.gallery-p {
    margin-bottom: 0.5em;
    font-style: oblique;
    font-size: 0.9em;
    text-align: center;
}


.img-wrapper {
    width: 15em;
    height: 10em;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.gallery-btn {
    border: 1px solid #ccc;
    padding: 0.3em 0.5em 0.3em 0.5em;
    align-self: center;
    display: none;
}

/* .luxury-portfolio {
    position: relative;
} */

.luxury-portfolio::after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    position: absolute;
    left: 0px;
    right: 4em;
}

.luxury-portfolio-magazine::after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    position: absolute;
    left: 0px;
    right: 4em;
}



@media (min-width: 768px) and (max-width: 1023px) {
    .nav li {
        width: 40%;
        /* display: block; */
        border-top: 1px solid white;
        padding-bottom: 2em;
        padding-top: 0.3em;
        text-align: start;
        align-items: center;
        justify-content: space-between;
    }

    .nav li:nth-child(even) {
        text-align: end;
    }

    .gallery-wrapper div:nth-child(2) {
        align-self: stretch;
    }
}

@media (min-width: 1024px) {

    h1 {
        font-size: 1.6em;
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
    }

    .nav li {
        width: 100%;
        /* display: block; */
        border-top: 1px solid white;
        padding-bottom: 2em;
        padding-top: 0.3em;
        text-align: start;
        align-items: center;
        justify-content: space-between;
    }

    .img-wrapper {
        width: 18em;
        height: 11em;
        overflow: hidden;
        margin-bottom: 1em;
    }

    .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* zoom + crop */
        object-position: center;
        /* център */
    }

    .gallery-btn {
        display: block;
    }

}